<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="html(title,content)">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <title>Contacts</title>
</head>
<div id="container">
    <header>
        <h1>Contact List</h1>
    </header>
    <main>
        <h1>Contacts</h1>
        <div th:if="${#response.status == 404}">
            <strong>Fehler 404</strong> Kontakt nicht gefunden
        </div>

        <div th:if="${contact != null}">
            <table>
                <tr>
                    <th>Attribut</th>
                    <th>Wert</th>
                </tr>
                <tr>
                    <td>First name</td>
                    <td th:text="${contact.firstName}">Peter</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td th:text="${contact.lastName}">Muster</td>
                </tr>


                <tr th:replace="fragments::multiRow('Email', ${contact.email})"></tr>

                <tr th:replace="fragments::multiRow('Phone', ${contact.phone})"></tr>


                <tr th:if="${contact.jobTitle}">
                    <td>Job title</td>
                    <td th:text="${contact.jobTitle}">Arbeit</td>
                </tr>
                <tr th:if="${contact.company}">
                    <td>Company</td>
                    <td th:text="${contact.company}">Firma</td>
                </tr>
            </table>
        </div>
        <ol>
            <li th:each="entry : ${contactList}">
                <a th:text="${entry.name}"
                    th:href="@{/contacts/{id}(id=${entry.id})}">Contact</a>
            </li>
        </ol>
    </main>
    <footer>
        built with <a href="https://spring.io/">Spring</a>
    </footer>
</div>
</html>
